<html>
	<head>
	<script type="text/javascript">
		window.addEventListener("message", receiveMessage, false);
		function receiveMessage(e)
		{
			alert(e.data);
		}
	</script>
	</head>
	<body>
		Hello
	</body>
</html>
	
	