<!DOCTYPE html>
<html>
<head>
<%= 
	render(:erb, :"header/header_common")
	render(:erb, :"management/header/header_remarksform")
%>
</head>
	
	
<script type="text/javascript">

function openDetailDiscussion()
{
    var child_win = window.open('/wordsearch/management/entrybattle/management_detailremarks_newwindow', '', 'width=640,height=400,scrollbars=yes');
}
		
//function updateByJsonMessage(value0)
//{
	//form_file_upload = document.getElementById("link_selector");
	//form_file_upload.value= value0;
	
	//alert("Hello");
	
	//form_file_upload.submit();
//}


</script>



<body>

<datalist id="rulelist">
<option value="ワードウルフ1w/逆転あり">
<option value="ワードウルフ2w/逆転あり">
</datalist>

		
<!-- コンテンツを記述 -->
			
	<div id="TopLeft_area">
		<table width=70%>
			<tr><th>村人ワード</th><td>メールアドレス</td><th>人狼ワード</th><td>パスワード</td></tr>
			<tr><th>勝敗</th><td>村人勝利</td></tr>
			<tr><th>制限時間</th><td>7:00</td><th>延長時間</th><td>0:00</td></tr>
		</table>
	</div>
		
	<form name = "form_file_upload" method="post" enctype="multipart/form-data">
	<input type="hidden" name="proctype" value="update"></input>
	<div id="TopRight1_1_area">
		<b>JSONファイルアップロード</b><br>
		<input type="file" id="selmulti" accept="application/json" multiple="multiple" name="messageloader[]">
		<script>
			var obj2 = document.getElementById("selmulti");
			obj2.addEventListener("change", function(evt) {
				document.getElementById("ui_committodb").innerHTML = '→<input type="submit" value="Commit to DB" id="click_committodb">'; 
			}, false);
		</script>
	</div>
	<div id="TopRight1_2_area">
		<div id="ui_committodb"> <!-- onclick="location.href='management_battledetails.html'"> -->
		</div>
	</div>
	</form>
	<form method="post">
	<div id="Bottom_area">
	
			<b>発言記録</b>	
			
			<input type="hidden" name="proctype" id="link_selector" value="selectgame"></input>
			<input type="submit" value="完了" >
			<input type="button" value="試合情報"> <br>
	<hr>
	<input type="button" value="項目削除">
	<table>
		<tr><th></th><th>No.</th><th>経過時間</th><th>制限時間</th><th>発言者</th><th>発言内容</th><th>Y回答</th><th>N回答</th><th>G回答</th><th>?回答</th><th>詳細</th></tr>
		<!--
		<tr><td><input type="checkbox"></td><td>1<td>0:20</td><td>6:40</td><td>豌豆豆(村人)</td><td>海外に行く時使う？</td><td>1</td><td>4</td><td>0</td><td>1</td><td><input type="button" value="詳細" onclick="openDetailDiscussion()"></td></tr>
	<tr><td><input type="checkbox"></td><td>2<td>1:05</td><td>5:55</td><td>応為の妹(村人)</td><td>0〜9を使って表す？</td><td>0</td><td>6</td><td>0</td><td>0</td><td><input type="button" value="詳細"></td></tr>
		<tr><td><input type="checkbox"></td><td>3<td>1:30</td><td>5:30</td><td>しゃぶたろう(村人)</td><td>tinderやってますか？</td><td>2</td><td>4</td><td>0</td><td>0</td><td><input type="button" value="詳細"></td></tr>
		-->
		<% @dbdataview[:TalkMessage].each_with_index do |obj, i| %>
		<tr><td><input type="checkbox"></td><td><%= i+1 %><td>1:30</td><td>5:30</td><td><%=obj.tbl_user_info.username%></td><td><%=obj.message%></td><td>2</td><td>4</td><td>0</td><td>0</td><td><input type="button" value="詳細" onclick="openDetailDiscussion()"></td></tr>

		<% end %>
	</table>
	</div>
	</form>
				
<!-- スクリプトでブロッキングを起こすものはここに記述
ブロッキングを起こす原因としては、CSSのセレクタ操作（IE）、負荷の高いDOM操作、多数のスクリプトなど -->
<!-- SCRIPTS -->
<!-- 例: <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
</body>
</html>